In [1]:
import pandas as pd

In [3]:
#  factorial

fact = 5
a=1
for i in range(1,fact+1):
    a = a*i
    print(i)
print(f"factorial is {a}")

1
2
3
4
5
factorial is 120

In [6]:
# count the vowel

word = input("Enter and word to check count of vowel")
vowel = ['a','e','i','o','u']
sum = 0
for i in word:
    if i in vowel:
        print(i)
        sum = sum + 1


print(sum)

a
a
2

In [9]:
# occurance of any character

word = input("Enter and word to check count of vowel : ")
letter = input("Enter a letter for search the occurance count : ")
sum = 0
for i in word:
    if i == letter:
        sum += 1
        print(f" {i} is equal  to {letter} and the count is equal to {sum}")

print(sum)

 a is equal  to a and the count is equal to 1
 a is equal  to a and the count is equal to 2
 a is equal  to a and the count is equal to 3
 a is equal  to a and the count is equal to 4
4

In [20]:
# Fibonacci series

#8
#0 ,1,1,2,3,5,8,13,21


USER_INPUT =  int(input(" ENTER THE NO. FOR WHICH COUNT U WANT A FIBONACCI SERIES : "))
first_c = 0
second_c =1
print(first_c,end = ',')
print(second_c,end = ',')
for i in range(3,USER_INPUT+1):
    next_c =  first_c + second_c
    first_c = second_c
    second_c = next_c
    print(next_c,end=',')

0,1,1 2

In [21]:
lst = ["P", "Y", "T", "H", "O", "N"]
string = ''.join(lst)

print(string)
#print(type(string))

PYTHON
<class 'str'>

In [25]:
lst1 = [1, 2, 3]

NameError: name 'count' is not defined

In [31]:
#  summing 2 list
lst1 = [1, 2, 3]
lst2 = [4, 5, 6] 
result = []
for i in range(0,len(lst1)):
    result.append(lst1[i]+lst2[i])
print(result)

[5, 7, 9]

In [32]:
# counting digits, letter and spaces in a string


# Importing Regular Expressions Library
import re

name = 'Python is 1'

digitCount = re.sub("[^0-9]", "", name)
letterCount = re.sub("[^a-zA-Z]", "", name)
spaceCount = re.findall("[ \n]", name)

print(len(digitCount))
print(len(letterCount))
print(len(spaceCount))

1
8
2

In [33]:


l1 = ["eat", "sleep", "repeat"]
s1 = "geek"
 
# creating enumerate objects
obj1 = enumerate(l1)
obj2 = enumerate(s1)
 
print ("Return type:", type(obj1))
print (list(enumerate(l1)))
 
# changing start index to 2 from 0
print (list(enumerate(s1, 2)))

Return type: <class 'enumerate'>
[(0, 'eat'), (1, 'sleep'), (2, 'repeat')]
[(2, 'g'), (3, 'e'), (4, 'e'), (5, 'k')]

In [36]:
l1 = ["eat", "sleep", "repeat","Ratan"]

# printing the tuples in object directly
for ele in enumerate(l1):
	print (ele)

# changing index and printing separately
for count, ele in enumerate(l1):
	print (count, ele)

# getting desired output from tuple
for count, ele in enumerate(l1):
	print(count)
	print(ele)

(0, 'eat')
(1, 'sleep')
(2, 'repeat')
(3, 'Ratan')
0 eat
1 sleep
2 repeat
3 Ratan
0
eat
1
sleep
2
repeat
3
Ratan

In [38]:
# Read the data from a file

import os
import shutil

# Set the path to the folder containing MSG files
folder_path = r"C:\Users\Ratan Kumar Jha\Desktop\welcome msg\WELCOME DATA EXTRACTED\March"
# -------------------------------------------------------------------------------------------------
for filename in os.listdir(folder_path):
    print(filename)

Welcome Msg Not Sent Data_01-03-24.xlsx
Welcome Msg Not Sent Data_03-03-24.xlsx
Welcome Msg Not Sent Data_04-03-24.xlsx
Welcome Msg Not Sent Data_05-03-24.xlsx
Welcome Msg Not Sent Data_06-03-24.xlsx
Welcome Msg Not Sent Data_10-03-24.xlsx
Welcome Msg Not Sent Data_11-03-24.xlsx
Welcome Msg Not Sent Data_12-03-24.xlsx
Welcome Msg Not Sent Data_13-03-24.xlsx
Welcome Msg Not Sent Data_15-03-24.xlsx
Welcome Msg Not Sent Data_17-03-24.xlsx
Welcome Msg Not Sent Data_18-03-24.xlsx
Welcome Msg Not Sent Data_19-03-24.xlsx
Welcome Msg Not Sent Data_20-03-24.xlsx
Welcome Msg Not Sent Data_21-03-24.xlsx
Welcome Msg Not Sent Data_27-03-24.xlsx
Welcome Msg Not Sent Data_28-03-24.xlsx
Welcome Msg Not Sent Data_31-03-24.xlsx

In [5]:
# reverse a word

word ="EDF INTERNATIONAL"
sum = 0
for i in word:
    sum=sum+1

print(sum)

17

In [15]:

word = "EDF INTERNATIONAL"
reverse = ' '
for i in word:
    reverse =i+ reverse 
    print(reverse)

E
DE
FDE
 FDE
I FDE
NI FDE
TNI FDE
ETNI FDE
RETNI FDE
NRETNI FDE
ANRETNI FDE
TANRETNI FDE
ITANRETNI FDE
OITANRETNI FDE
NOITANRETNI FDE
ANOITANRETNI FDE
LANOITANRETNI FDE

In [27]:
mylist = ['first','second','third']
s = ""
reverse = ""
for item in mylist:
    s=item + s
  
    for char in item : 
        reverse = char + reverse

In [28]:
# find the length of string

text = "EDF INTERNATIONAL"
count = 0
for i in text:
    count += 1
print(count)

17

# DATA FRAME

In [29]:
import pandas as pd

# Creating the dataframe with the given information
data = {
    "name": ["Afghanistan", "Albania", "Algeria", "Andorra", "Angola"],
    "continent": ["Asia", "Europe", "Africa", "Europe", "Africa"],
    "area": [652230, 28748, 2381741, 468, 1246700],
    "population": [25500100, 2831741, 37100000, 78115, 20609294],
    "gdp": [20343000000, 12960000000, 188681000000, 3712000000, 100990000000]
}

World  = pd.DataFrame(data)

# Displaying the dataframe
print(World )

          name continent     area  population           gdp
0  Afghanistan      Asia   652230    25500100   20343000000
1      Albania    Europe    28748     2831741   12960000000
2      Algeria    Africa  2381741    37100000  188681000000
3      Andorra    Europe      468       78115    3712000000
4       Angola    Africa  1246700    20609294  100990000000

A country is big if:

it has an area of at least three million (i.e., 3000000 km2), or
it has a population of at least twenty-five million (i.e., 25000000).
Write a solution to find the name, population, and area of the big countries.

Return the result table in any order.

In [35]:
World[(World['area'] >= 3000000) | (World['population'] >= 25000000) ][["name","population","area"]]

          name  population     area
0  Afghanistan    25500100   652230
2      Algeria    37100000  2381741

# 2

In [36]:
import pandas as pd

# Creating the dataframe with the given Products table information
products_data = {
    "product_id": [0, 1, 2, 3, 4],
    "low_fats": ["Y", "Y", "N", "Y", "N"],
    "recyclable": ["N", "Y", "Y", "Y", "N"]
}

products = pd.DataFrame(products_data)

# Displaying the dataframe
print(products)

   product_id low_fats recyclable
0           0        Y          N
1           1        Y          Y
2           2        N          Y
3           3        Y          Y
4           4        N          N

product_id is the primary key (column with unique values) for this table.
low_fats is an ENUM (category) of type ('Y', 'N') where 'Y' means this product is low fat and 'N' means it is not.
recyclable is an ENUM (category) of types ('Y', 'N') where 'Y' means this product is recyclable and 'N' means it is not.
Write a solution to find the ids of products that are both low fat and recyclable.

In [38]:
products[(products['low_fats']=='Y') & (products['recyclable']=='Y')][["product_id"]]

   product_id
1           1
3           3

# 3

In [40]:
import pandas as pd

# Creating the dataframe for the Customers table
customers = {
    "id": [1, 2, 3, 4],
    "name": ["Joe", "Henry", "Sam", "Max"]
}
customers = pd.DataFrame(customers)

# Creating the dataframe for the Orders table
orders = {
    "id": [1, 2],
    "customerId": [3, 1]
}
orders = pd.DataFrame(orders)

# Displaying the dataframes
print("Customers DataFrame:")
print(customers)
print("\nOrders DataFrame:")
print(orders)

Customers DataFrame:
   id   name
0   1    Joe
1   2  Henry
2   3    Sam
3   4    Max

Orders DataFrame:
   id  customerId
0   1           3
1   2           1

In [52]:
left_join = pd.merge(customers[['id','name']], orders[['customerId']], left_on=['id'], right_on=['customerId'], how='left')
data = left_join[left_join['customerId'].isnull()][['name']]
data.rename(
    columns={"name": "Customers"},
    inplace=True
)

return data

  Customers
1     Henry
3       Max

In [ ]:
# 4

In [60]:
import pandas as pd

# Creating the dataframe for the Employee table
employee_data = {
    "id": [1, 2, 3, 4, 5],
    "name": ["Joe", "Jim", "Henry", "Sam", "Max"],
    "salary": [70000, 90000, 80000, 60000, 90000],
    "departmentId": [1, 1, 2, 2, 1]
}
employee = pd.DataFrame(employee_data)

# Creating the dataframe for the Department table
department_data = {
    "id": [1, 2],
    "name": ["IT", "Sales"]
}
department = pd.DataFrame(department_data)

# Displaying the dataframes
print("Employee DataFrame:")
print(employee)
print("\nDepartment DataFrame:")
print(department)

Employee DataFrame:
   id   name  salary  departmentId
0   1    Joe   70000             1
1   2    Jim   90000             1
2   3  Henry   80000             2
3   4    Sam   60000             2
4   5    Max   90000             1

Department DataFrame:
   id   name
0   1     IT
1   2  Sales

In [59]:
department

   id   name
0   1     IT
1   2  Sales

In [76]:
#Write a solution to find employees who have the highest salary in each of the departments.
#employee.rename(columns={"id": "eid","name":"e_name"},inplace=True)

data = pd.merge(employee[['id','name','salary','departmentId']], department [['id','name']], left_on=['departmentId'], right_on=['id'], how='left')
data.drop(columns=['id_y'], inplace=True)
data.rename(columns={"id_x": "id","name_x":"Employee","name_y":"Department","salary":"Salary"},inplace=True)
data['rank']=data.groupby('Department')[['Salary']].rank(method='dense', ascending=False).astype(int)
data[data['rank']==1][['Department','Employee','Salary']]

  Department Employee  Salary
1         IT      Jim   90000
2      Sales    Henry   80000
4         IT      Max   90000